body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#tetris {
    border: 1px solid #000;
    margin: 0 auto;
    display: block;
    background-color: #fff; /* テトリスのキャンバスの背景色を設定 */
}

#container {
    margin-top: 20px;
}

#button-set {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input[type="button"] {
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #ccc;
}
